.cardTitle{
margin-left:-6vw;
}
.cardText{
margin-left:-6vw;
font-size:0.8vw;
}
.cardStyle{
  height:6vw;
  margin-bottom:0.5vw;
}
#imgStyle{
margin-left:0.5vw;
margin-right:0.16vw;
margin-top:1vw;
width:3.5vw;
}
